.sidebarContainer {
    color: white;
    border: 1px solid black;
    width: 220px;

}
.dataSidebarCard {
    margin-left: -15px;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    border: 2px solid #eee;
    padding-right: 12px;
    min-width: 180px;
    height: 100%;
}
.SidebarNav {
    background-color: white ;
    
}
.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
    background-color: gray ;
}
.sidenav---sidenav---_2tBP {
    background-color: white ;
}
.sidenav---navicon---3gCRo {
    background-color: white;
}
.sidenav---navtext---1AE_f {
    background-color: white;
    color:black;
}
.sidenav---navitem---9uL5T{
    background-color:  white;
}
